*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: black;
    color: white;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* width: 100% non è necessario nei tag di blocco*/
}

header.logo{
    width: 75px;
}

.fixed-height-width{
    height: 300px; /*attenzione alle altezze fisse perchè non vanno mai date*/
    width: 50%; /*50% rispetto al padre cioè il main in questo caso*/
}
