* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

figure,
nav {
  margin: 20px;
}

header figure img {
  height: 70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

header ul li {
  display: inline-block;
  padding: 10px;
}

/* MAIN */

main {
  color: white;
}

.jumbotron {
  height: 200px;
}

.jumbotron img {
  height: 100%;
}

main .top-footer {
  background-color: #1c1c1c;
  position: relative;
}

main .top-footer img {
  width: 100%;
}

main .comics-container {
  display: flex;
  flex-wrap: wrap;
}

main .com-thumbnail {
  flex-basis: calc(100% / 6);
  padding: 25px;
  color: #fff;
  padding-top: 50px;
}

main .com-thumbnail img {
  height: 200px;
}

main button {
  background-color: #077ff9;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 0px;
  font-weight: bold;
}

.abs-button {
  position: absolute;
  top: 21%;
  left: 10%;
}

.load-more {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

main .bot-footer {
  background-color: #077ff9;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.card {
  display: flex;
  align-items: center;
}

.card img {
  height: 50px;
}

/* FOOTER */

footer {
  background-image: url("../src/assets/img/footer-bg.jpg");
}

footer .top-footer {
  background-image: url("../src/assets/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  font-size: small;
  color: #6d6c6e;
}

footer h4 {
  color: white;
  padding: 20px 0px;
}

footer .footerList {
  display: flex;
  padding: 20px 0px;
}

footer .footerList li a {
  margin: 10px 0px;
}

footer .footerList ul li,
h4 {
  margin-right: 50px;
}

/* FOOTER SECOND SECTION */

footer .bot-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #323032;
  padding: 20px 0px;
}
footer .bot-footer ul {
  display: flex;
  gap: 20px;
}

footer .bot-footer ul li {
  list-style: none;
}

footer .bot-footer button {
  border: 4px solid #077ff9;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

footer .social img {
  height: 30px;
}

.social h4 {
  color: #077ff9;
}
